body {
    background-color: #959595;
}

table {
    margin: 15% auto;
    background-color: white;
    width: 500px;
}

table, tr, th, td {
    border: 2px solid black;
    text-align: center;
}

th {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}